<% unless user.nil? %>
  <h1 id="user">
    <%= user.username %>
  </h1>
  <span id="win">
    <%= user.win %>
  </span>
  <span id="lose">
    <%= user.lose %>
  </span>
<% end %>
<pre>
  <%= hangman %>
</pre>
<p id="underscored">
  <%= underscored_word %>
</p>
<form action="/game" method="post">
  <input type="text" name="letter" pattern="[A-Za-z]" size="2" maxlength="1" placeholder="a-z"> or   
  <input type="text" name="word" pattern="[A-Za-z]{<%= secret_word.size %>}" maxlength="<%= secret_word.size %>" placeholder="whole word">
  <input type="submit" value="Guess!">
</form>
